In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("event_raw.csv")
df

,"""visit_id""","""cookie_id""","""page_id""","""event_type""","""sequence_number""","""event_time"""
('ccf365','c4ca42','1','1','1','2020-02-04 19:16:09.182546'),NaN
('ccf365','c4ca42','2','1','2','2020-02-04 19:16:17.358191'),NaN
('ccf365','c4ca42','6','1','3','2020-02-04 19:16:58.454669'),NaN
('ccf365','c4ca42','9','1','4','2020-02-04 19:16:58.609142'),NaN
('ccf365','c4ca42','9','2','5','2020-02-04 19:17:51.72942'),NaN
...,...,...,...,...,...,...
('355a6a','87a4ba','10','1','15','2020-03-18 22:44:16.541396'),NaN
('355a6a','87a4ba','11','1','16','2020-03-18 22:44:18.90083'),NaN
('355a6a','87a4ba','11','2','17','2020-03-18 22:45:12.670472'),NaN
('355a6a','87a4ba','12','1','18','2020-03-18 22:45:54.081818'),NaN
('355a6a','87a4ba','13','3','19','2020-03-18 22:45:54.984666');,NaN

In [41]:
df.reset_index(inplace=True)
df

,index,"""visit_id""","""cookie_id""","""page_id""","""event_type""","""sequence_number""","""event_time"""
0,('ccf365','c4ca42','1','1','1','2020-02-04 19:16:09.182546'),NaN
1,('ccf365','c4ca42','2','1','2','2020-02-04 19:16:17.358191'),NaN
2,('ccf365','c4ca42','6','1','3','2020-02-04 19:16:58.454669'),NaN
3,('ccf365','c4ca42','9','1','4','2020-02-04 19:16:58.609142'),NaN
4,('ccf365','c4ca42','9','2','5','2020-02-04 19:17:51.72942'),NaN
...,...,...,...,...,...,...,...
32729,('355a6a','87a4ba','10','1','15','2020-03-18 22:44:16.541396'),NaN
32730,('355a6a','87a4ba','11','1','16','2020-03-18 22:44:18.90083'),NaN
32731,('355a6a','87a4ba','11','2','17','2020-03-18 22:45:12.670472'),NaN
32732,('355a6a','87a4ba','12','1','18','2020-03-18 22:45:54.081818'),NaN
32733,('355a6a','87a4ba','13','3','19','2020-03-18 22:45:54.984666');,NaN

In [44]:
df.columns

Index(['index', '  "visit_id"', ' "cookie_id"', ' "page_id"', ' "event_type"',
       ' "sequence_number"', ' "event_time"'],
      dtype='object')

In [52]:
df.rename(columns={'index':'visit_id', '  "visit_id"':'cookie_id', ' "cookie_id"':'page_id', ' "page_id"':'event_type', ' "event_type"':'sequence_number', ' "sequence_number"':'event_time', ' "event_time"':'NaN'}, inplace=True)

In [54]:
df.drop(columns=['NaN'],inplace=True)

,visit_id,cookie_id,page_id,event_type,sequence_number,event_time
0,('ccf365','c4ca42','1','1','1','2020-02-04 19:16:09.182546')
1,('ccf365','c4ca42','2','1','2','2020-02-04 19:16:17.358191')
2,('ccf365','c4ca42','6','1','3','2020-02-04 19:16:58.454669')
3,('ccf365','c4ca42','9','1','4','2020-02-04 19:16:58.609142')
4,('ccf365','c4ca42','9','2','5','2020-02-04 19:17:51.72942')
...,...,...,...,...,...,...
32729,('355a6a','87a4ba','10','1','15','2020-03-18 22:44:16.541396')
32730,('355a6a','87a4ba','11','1','16','2020-03-18 22:44:18.90083')
32731,('355a6a','87a4ba','11','2','17','2020-03-18 22:45:12.670472')
32732,('355a6a','87a4ba','12','1','18','2020-03-18 22:45:54.081818')
32733,('355a6a','87a4ba','13','3','19','2020-03-18 22:45:54.984666');

In [75]:
# df['visit_id'] = df['visit_id'].apply(lambda x: x[4:-1])
# df['cookie_id'] = df['cookie_id'].apply(lambda x: x[2:-1])
# df['page_id'] = df['page_id'].apply(lambda x: x[2:-1])
# df['event_type'] = df['event_type'].apply(lambda x: x[2:-1])
# df['sequence_number'] = df['sequence_number'].apply(lambda x: x[2:-1])
# df['event_time'] = df['event_time'].apply(lambda x: x[2:-2])

In [76]:
df

,visit_id,cookie_id,page_id,event_type,sequence_number,event_time
0,ccf365,c4ca42,1,1,1,2020-02-04 19:16:09.182546
1,ccf365,c4ca42,2,1,2,2020-02-04 19:16:17.358191
2,ccf365,c4ca42,6,1,3,2020-02-04 19:16:58.454669
3,ccf365,c4ca42,9,1,4,2020-02-04 19:16:58.609142
4,ccf365,c4ca42,9,2,5,2020-02-04 19:17:51.72942
...,...,...,...,...,...,...
32729,355a6a,87a4ba,10,1,15,2020-03-18 22:44:16.541396
32730,355a6a,87a4ba,11,1,16,2020-03-18 22:44:18.90083
32731,355a6a,87a4ba,11,2,17,2020-03-18 22:45:12.670472
32732,355a6a,87a4ba,12,1,18,2020-03-18 22:45:54.081818
32733,355a6a,87a4ba,13,3,19,2020-03-18 22:45:54.984666'

In [ ]:
df.to_csv('event2.csv')